# Global
.DS_Store
Thumbs.db
*.log
*.sqlite3
.vscode/
.idea/
.env

# Python / Django
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.coverage
htmlcov/
.pytest_cache/
logs/

# Django project
backend/venv/
backend/.env
backend/staticfiles/
backend/media/
backend/logs/

# Node / React
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.env

# Docker
*.pid
